body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 1.3rem;

  .app-container {
    display: inline-flex;
    flex-direction: column;

    h1 {
      color: #9696f5;
    }

    .button-container {
      display: inline-flex;
      align-items: center;
      border-top: 2px solid #f4f4f4;

      button {
        font-size: 15px;
        margin: 0 0.5rem;
        padding: 0.4rem;
        border-radius: 10px;
        border: none;
        opacity: 0.5;

        &.active {
          color: #337f33;
          font-weight: bold;
          box-shadow: inset 2px 2px #0000004d;
          opacity: 1;
        }

        &.submit-button {
          color: black;
          opacity: 1;
        }
      }

      button:hover {
        cursor: pointer;
      }
    }

    h2 {
      font-weight: normal;
    }

    .tools-container {
      display: flex;
      flex-direction: row;
    }
  }
}
